{
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^[@/]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
